<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyh.demo.mapper.tdengine.MonitorPointDataMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO
        <foreach collection="list" index="index" item="pointData" separator=" ">
            ${pointData.tName} USING ${pointData.stName}
            TAGS(
                #{pointData.tagName},
                #{pointData.department}, #{pointData.productionLine}, #{pointData.region},
                #{pointData.code9}
            ) VALUES (
                #{pointData.collectedTime}, #{pointData.dataValue}
            )
        </foreach>
    </insert>
    <insert id="insertBatch2" parameterType="java.util.List">
        INSERT INTO
        <foreach collection="list" index="index" item="pointData" separator=" ">
            ${pointData.tName} USING st_data (
                tag_name
            ) TAGS (
                #{pointData.tagName}
            ) VALUES (
                #{pointData.collectedTime}, #{pointData.dataValue}
            )
        </foreach>
    </insert>
    <resultMap id="BaseResultMap" type="com.yyh.demo.entity.MonitorPointData">
        <id column="collection_time" jdbcType="TIMESTAMP" property="collectedTime" />
        <result column="data_value" jdbcType="DOUBLE" property="dataValue" />
    </resultMap>
    <select id="selectByConditions" parameterType="com.yyh.demo.dto.SearchConditionDto" resultMap="BaseResultMap">
        SELECT collection_time, data_value from
        <choose>
            <when test="tName != null and tName != ''">
                ${tName}
            </when>
            <otherwise>
                ${stName}
            </otherwise>
        </choose>
        WHERE collection_time BETWEEN #{startTime} AND #{endTime}
        <if test="code9 != null and tagName != ''">
            AND code9 = #{code9}
        </if>
    </select>
    <select id="selectFirstByConditions" parameterType="com.yyh.demo.dto.SearchConditionDto" resultMap="BaseResultMap">
        SELECT collection_time, data_value from st_data
        WHERE collection_time BETWEEN #{startTime} AND #{endTime}
        AND tag_name = #{tagName}
        LIMIT 0, 1
    </select>
    <select id="selectLastByConditions" parameterType="com.yyh.demo.dto.SearchConditionDto" resultMap="BaseResultMap">
        SELECT collection_time, data_value from st_data
        WHERE collection_time BETWEEN #{startTime} AND #{endTime}
        AND tag_name = #{tagName}
        ORDER BY collection_time DESC
        LIMIT 0, 1
    </select>
    <select id="selectFirst" resultMap="BaseResultMap">
        select collection_time, data_value from st_data
        limit 0, 1
    </select>
</mapper>
